@page "/"
@inherits ProductListBase
    <style>
        textarea {
            resize: none;
        }
       option{
           font-size:20px;
       }
        .checkboxtext {
            font-size: 110%;
            display: inline;
        }
        .checkradio {
            margin-top:5px;
            margin-bottom:5px;
            transform: scale(1.5);
            padding: 10px;
        }
        .buttonsubmit {
            background-color: #58257b;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 4px;
            position:center;
            width:200px;
        }
        .button8 {
            background-color: midnightblue;
            color: white;
            border: 2px solid midnightblue;
        }

            .button8:hover {
                background-color: white;
                color: black;
                border: 2px solid midnightblue;
            }
        .title{
            font-size:20px;
            color:aqua;
        }
        .contents{
            font-size:15px;
        }
        .li{
            margin-top:10px;
            margin-bottom:10px;
            font-weight:bold;
        }
    </style>
<img class="banner" src="/image/banner1.jpg"/>
<section class="section">
    <table class="tb">
        <tr>
            <td align="center">
                <div class="image">
                    <div id="zoom-in">
                        <figure>
                            <img src="/image/luxa.jpg">
                            <figcaption>LUX A2.0</figcaption>
                        </figure>
                    </div>
                </div>
            </td>
            <td align="center">
                <div class="image">
                    <div id="zoom-in">
                        <figure>
                            <img src="/image/luxsa.jpg">
                            <figcaption>LUX SA2.0</figcaption>
                        </figure>
                    </div>
                </div>
            </td>
            <td align="center">
                <div class="image">
                    <div id="zoom-in">
                        <figure>
                            <img src="/image/fadilhight.jpg">
                            <figcaption>FADIL</figcaption>
                        </figure>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <hr />
    <table class="tb">
        <tr>
            <td align="center" width="50%"><img src="/image/sa.png" /></td>
            <td align="center" width="50%">
                <h1>LUX SA2.0</h1>
                <hr />
                <h5>Số tiền đặt cọc</h5><h2 style="color:cornflowerblue">50.000.000</h2><br />
                <h5>Lựa chọn phiên bảng xe</h5>
                <div>
                    <button class="button">TIÊU CHUẨN</button>
                    <button class="button">NÂNG CAO</button>
                    <button class="button">CAO CẤP</button>
                </div>
                <div>
                    <button class="buttonround"></button>
                    <button class="buttonround br1"></button>
                    <button class="buttonround br2"></button>
                    <button class="buttonround br3"></button>
                    <button class="buttonround br4"></button>
                </div>
            </td>
        </tr>
    </table>
    <hr />
    <table class="tb">
        <tr>
            <td width="25%">
            </td>
            <td width="25%">
            </td>
            <td width="25%">
            </td>
            <td style="text-align:left" width="25%">
                <form id="form1" method="get">
                    <h3 style="text-align: center; margin-top: 20px; margin-bottom: 20px">THÔNG TIN KHÁCH HÀNG</h3>
                    <h5 style="font-weight: bold">Quý khách là? <span style="color:blue">*</span></h5>
                    <select style="width:700px;height:50px">
                        <option>Doanh Nghiệp</option>
                        <option>Cá Nhân</option>
                    </select>
                    <h5 style="margin-top: 5px; font-weight: bold">Họ tên khách hàng <span style="color:blue">*</span></h5>
                    <textarea style="width:700px;height:50px" required></textarea>

                    <h5 style="font-weight: bold">Doanh Nghiệp <span style="color:blue">*</span></h5>
                    <textarea style="width:700px;height:50px" required></textarea>

                    <h5 style="font-weight: bold">Số điện thoại <span style="color:blue">*</span></h5>
                    <textarea style="width:700px;height:50px" required></textarea>

                    <h5 style="font-weight: bold">Email <span style="color:blue">*</span></h5>
                    <textarea style="width:700px;height:50px" required></textarea>


                </form>
            </td>
        </tr>
        <tr>
            <td width="25%">
            </td>
            <td width="25%">
            </td>
            <td width="25%">
            </td>
            <td width="25%">
                <h3 style="text-align: center; margin-top:20px;margin-bottom:20px">LỰA CHỌN SHOWROOM MUA XE</h3>
                <h5 style="font-weight:bold">Tỉnh thành <span style="color:blue">*</span></h5>
                <select style="width:700px;height:50px;">
                    <option>Hà Nội</option>
                    <option>TP Hồ Chí Minh</option>
                    <option>Kiên Giang</option>
                    <option>Đà Nẵng</option>
                    <option>Thanh Hóa</option>
                    <option>Hà Tỉnh</option>
                    <option>Gia Lai</option>
                    <option>Nghệ An</option>
                    <option>Bình Dương</option>
                </select>
                <h5 style="margin-top: 5px; margin-bottom: 5px; font-weight: bold">Showroom/Đại lý <span style="color:blue">*</span></h5>
                <textarea style="width:700px;height:50px" required></textarea>
                <div style="margin-bottom:5px;margin-top:5px">
                    <input type="checkbox" name="checkagree" id="accept" class="checkradio" />
                    <label for="accept" class="checkboxtext">
                        Tôi cam kết các thông tin cung cấp tại đây hoàn toàn chính xác
                    </label>
                </div>
                <div style="margin-bottom:5px;margin-top:5px">
                    <input type="checkbox" name="checkagree" id="accept2" class="checkradio" />
                    <label for="accept2" class="checkboxtext">
                        Tôi đồng ý với toàn bộ nội dung <a href="https://shop.vinfastauto.com/on/demandware.static/-/Sites/default/dw743bfcd5/Documents/VFT_Dieu_Khoan_Chung_Dat_Coc_Mua_Ban_O_To.pdf">Điều khoản</a> trong Thỏa Thuận Đặt Cọc
                    </label>
                </div>
                <div style="margin-bottom:5px;margin-top:5px">
                    <input type="checkbox" name="checkagree" id="accept3" class="checkradio" />
                    <label for="accept3" class="checkboxtext">
                        Tôi đồng ý với các <a href="https://shop.vinfastauto.com/vn_vi/dieu-khoan-phap-ly.html">Điều kiện & Điều khoản</a>của VinFast Online.
                    </label>
                </div>
                <h5 style="margin-top:5px;margin-bottom:5px;font-weight:bold">Hình thức thanh toán</h5>
                <div style="margin-bottom:5px;margin-top:5px">
                    <input type="radio" id="check1" class="checkradio" />
                    <lable for="check1" class="checkboxtext">Thanh toán qua thẻ tín dụng</lable>
                </div>
                <div style="margin-bottom:5px;margin-top:5px">
                    <input type="radio" id="check2" class="checkradio" />
                    <lable for="check2" class="checkboxtext">Thanh toán qua thẻ tín dụng</lable>
                </div>
                <div style="margin-bottom:5px;margin-top:5px">
                    <input type="radio" id="check3" class="checkradio" />
                    <lable for="check3" class="checkboxtext">Thanh toán qua thẻ tín dụng</lable>
                </div>
            </td>
        </tr>
        <tr>
            <td width="25%">
            </td>
            <td width="25%">
            </td>
            <td width="25%">
            </td>
            <td width="25%" align="center">
                <div> <input type="submit" id="send" value="Đặt Cọc" class="buttonsubmit button8" /></div>
            </td>
        </tr>
    </table>
   
    <hr style="border: 3px solid #00ffff" />
    <table class="tb">
        <tr>
            <td width="100%" align="center">
                <a href="/"><img src="/image/footerlogo.png" /></a>
            </td>
        </tr>
    </table>
    <hr style="border: 3px solid #00ffff" />
    <table class="tb">
        <tr>
            <td width="20%" style="text-align: left">
                <p class="title">GIỚI THIỆU</p>
            </td>
            <td width="20%" style="text-align: left">
                <p class="title">XE Ô TÔ</p>
            </td>
            <td width="20%" style="text-align: left">
                <p class="title">XE MÁY ĐIỆN</p>
            </td>
            <td width="20%" style="text-align: left">
                <p class="title">TIN TỨC NỔI BẬT</p>
            </td>
            <td width="20%" style="text-align: left">
                <p class="title">HỖ TRỢ</p>
            </td>
        </tr>
        <tr>
            <td width="20%" style="text-align: left">
                <ul>
                    <li>
                        <a href="https://vinfastauto.com/vn_vi/ve-chung-toi" class="contents">Về VinFast</a>
                    </li>
                    <li>
                        <a href="https://vinfastauto.com/vn_vi/ve-vingroup" class="contents">Về VinGroup</a>
                    </li>
                    <li>
                        <a href="https://vinfastauto.com/investor/" class="contents">Nhà đầu tư</a>
                    </li>
                </ul>
            </td>
            <td width="20%" style="text-align: left">

                <ul>
                    <li>
                        <a href="https://localhost:44303/productdetails/1" class="contents">Lux A2.0</a>
                    </li>
                    <li>
                        <a href="https://localhost:44303/productdetails/2" class="contents">Lux SA2.0</a>
                    </li>
                    <li>
                        <a href="https://localhost:44303/productdetails/3" class="contents">Fadil</a>
                    </li>
                    <li>
                        <a href="https://localhost:44303/productdetails/4" class="contents">President</a>
                    </li>
                </ul>
            </td>
            <td width="20%" style="text-align: left">

                <ul>
                    <li>Theon</li>
                    <li>Feliz</li>
                    <li>Klara A2</li>
                    <li>Klara S</li>
                    <li>Impes</li>
                    <li>Ludo</li>
                </ul>
            </td>
            <td width="20%" style="text-align: left">

                <ul>
                    <li>Uư đãi</li>
                    <li>Feliz</li>
                    <li>Công ty</li>
                    <li>Xu hướng chung</li>
                    <li>Cộng đồng</li>
                    <li>Báo chí viết về VinFast</li>
                </ul>
            </td>
            <td width="20%" style="text-align: left">

                <ul>
                    <li>Câu hỏi thường gặp</li>
                    <li>Hệ thống showroom và đại lý</li>
                    <li>Đối tác trạm sạc</li>
                    <li>Hệ sinh thái pin và trạm sạc</li>
                    <li>Đặt lịch bảo dưỡng</li>
                    <li>Liên hệ</li>
                </ul>
            </td>
        </tr>
    </table>
</section>
