@inherits LayoutComponentBase
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

    .search {
        width: 200px;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 200px;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 50px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

        .searchTerm:focus {
            color: #00B4CC;
        }

    .searchButton {
        width: 40px;
        height: 50px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
        width: 30%;
        position: center;
        
        transform: translate(-50%, -50%);
    }
</style>
        <div class="navigation-bar">
            <div id="navigation-container">       
                <ul>
                    <li><img src="../image/logo.png"></li>
                    <li>
                        <i class="fa fa-home" style="transform: scale(1.25);  "></i>
                        <a href="https://localhost:44303/">Trang Chủ</a>
                    </li>
                   
                    <li>
                        <i class="fa fa-car" style="transform: scale(1.25);  "></i>
                        <a href="#">Ô tô</a>
                    </li>
                    <li>
                        <i class="fa fa-motorcycle" style="transform: scale(1.25);  "></i>
                        <a href="#">Xe máy điện</a>
                    </li>
                    <li>
                        <i class="fa fa-fire" style="transform: scale(1.25);  "></i>
                        <a href="#">Ưu đãi</a>
                    </li>
                    <li>
                        <i class="fa fa-thumbs-up" style="transform: scale(1.25);  "></i>
                        <a href="#">Dịch vụ</a>
                    </li>
                    <li>
                        <i class="fa fa-cog" style="transform: scale(1.25);"></i>
                        <a href="#">Công cụ</a>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li>
                                <NavLink href="https://localhost:44303/allproduct" Match="NavLinkMatch.All">
                                    <i class="fa fa-wrench" style="transform: scale(1.25);color:#1ec30b "></i><br />
                                    <span style="font-size: 13px; color: #1ec30b ">Quản lý sản phẩm</span>
                                </NavLink>
                            </li>
                           
                            <li>
                                <NavLink href="/identity/account/logout" Match="NavLinkMatch.All">
                                    <i class="fa fa-sign-out" style="transform: scale(1.25);color:red  "></i><br />
                                    <span style="color:red">Logout</span>
                                </NavLink>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li>
                                <NavLink href="/identity/account/login" Match="NavLinkMatch.All">
                                    <i class="fa fa-sign-in" style="transform: scale(1.25);  "></i><br />
                                    Login
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>

    <div class="page">
       

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
